<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.couplematch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.CoupleMatch"
        tools:targetApi="33">
        <activity
            android:name=".MorePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SearchedProfile"
            android:exported="false" />
        <activity
            android:name=".Person_View"
            android:exported="false" />
        <activity
            android:name=".FriendRequestList"
            android:exported="false" />
        <activity
            android:name=".SavedPhysicalStatus"
            android:exported="false" />
        <activity
            android:name=".SavedMaritalStatus"
            android:exported="false" />
        <activity
            android:name=".SavedSmoke"
            android:exported="false" />
        <activity
            android:name=".SavedDrink"
            android:exported="false" />
        <activity
            android:name=".SavedIncome"
            android:exported="false" />
        <activity
            android:name=".SavedProfession"
            android:exported="false" />
        <activity
            android:name=".SavedEducation"
            android:exported="false" />
        <activity
            android:name=".SavedHeight"
            android:exported="false" />
        <activity
            android:name=".SavedDiet"
            android:exported="false" />
        <activity
            android:name=".SavedDosh"
            android:exported="false" />
        <activity
            android:name=".SavedReligion"
            android:exported="false" />
        <activity
            android:name=".SavedAge"
            android:exported="false" />
        <activity
            android:name=".UniqueProfileID"
            android:exported="false" />
        <activity
            android:name=".MotherOccupation"
            android:exported="false" />
        <activity
            android:name=".FatherOccupation"
            android:exported="false" />
        <activity
            android:name=".SmokeActivity"
            android:exported="false" />
        <activity
            android:name=".DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".PhysicalStatusActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".MatchActivity"
            android:exported="false" />
        <activity
            android:name=".RequestReceivedActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Help_support_Activity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteMyAccountActivity"
            android:exported="false">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".ContactUsActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ShareOurAppActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ProfileViewedActivity"
            android:exported="false" />
        <activity
            android:name=".SavedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ProfessionalActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome_Splash_Activity"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".Add_Photo_Activity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".EducationActivity"
            android:exported="false" />
        <activity
            android:name=".HeightActivity"
            android:exported="false" />
        <activity
            android:name=".DietActivity"
            android:exported="false" />
        <activity
            android:name=".MaritalStatusActivity"
            android:exported="false" />
        <activity
            android:name=".DoshActivity"
            android:exported="false" />
        <activity
            android:name=".ReligionActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>
